# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environment
.venv/

# Carpetas de imágenes (datos locales, no versionables)
input/
output/

# Modelos descargados por rembg
.u2net/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
